@import url('https://fonts.googleapis.com/css2?family=Inter&family=Public+Sans&family=Rubik:wght@700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Rubik', sans-serif; */

:root{
    --backgroundColor: #1D1D1D;
    --btnColor: #B1291F;
    --textColor: #FFFFFF;
}


.art, .art-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.art-container {
    flex-direction: column;
    justify-content: baseline;
    margin: 15px;
}

.art-container, .art-container img {
    width: 350px;
    max-width: 90%;
}

.art-container img {
    height: 350px;
    object-fit: cover;
}

@media screen and (min-width: 750px){
    .art-container, .art-container img {
        width: 450px;
    }
}