@import url('https://fonts.googleapis.com/css2?family=Inter&family=Public+Sans&family=Rubik:wght@700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Rubik', sans-serif; */

:root{
    --backgroundColor: #1D1D1D;
    --btnColor: #B1291F;
    --textColor: #FFFFFF;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

h4{
    font-family: 'Rubik', sans-serif; 
    font-weight: bolder;
}

h1, p{
    font-family: 'Inter', sans-serif;
}

img{
    max-width: 90vw;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container, .container img {
    width: 350px;
    max-width: 90%;
}

.container img{
    height: 350px;
    object-fit: cover;
}

.logo-caption{
    margin: 0px 0px 10px 0px;
}

.art, .games, .assets, .landing-page{
    min-height: 70vh;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.btn{
    transition: .15s linear;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--btnColor);
    color: var(--textColor);
    padding: 10px 15px 10px 15px;
    border: none;
}

.btn:hover{
    transition: .15s linear;
    cursor: pointer;
    background-color:#da291c;
}

.page-num{
    position: absolute; 
    margin-left: 90vw;
}

.page-header h1{
    font-size: 40px;
}